[user]
	name = Matt St. Clair
	email = matt.st.clair@plexus.com
[core]
[push]
	default = matching
[color]
	ui = auto
[merge]
[core]
	excludesfile = ~/.gitignore
[merge]
	tool = meld
[pager]
	branch = false
